/*whole website css*/
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/*header section start from here*/

.header-section {
  width: 100%;
  height: 750px;
  background: rgb(255, 221, 241);
  display: flex;
}
.header-left-title {
  text-align: left;
  align-items: left;
  margin: 180px 0 0 180px;
}
.header-title {
  color: #414141;
  font-size: 60px;
  font-weight: 800;
}

.description {
  color: rgba(20, 19, 19, 0.6);
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  padding: 35px 0 35px 0;
}

.img-right {
  margin-left: auto;
  margin-right: 0;
  margin-top: 150px;
  width: 520px;
  height: 600px;
}

.btn {
  background: #f76786;
  padding: 17px 40px;
  color: rgb(243, 243, 243);
  border: none;
  border-radius: 50px;
  font-size: 17px;
  cursor: pointer;
}

.wedding-package {
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 250px;
  background-color: #ffffff;
  background-size: cover;
  border-radius: 30px 30px 30px 30px;
  line-height: 20px;
  box-shadow: 0px 10px 15px #b1b1b1;
}

.wedding-package img {
  width: 250px;
  height: 220px;
  border-radius: 30px 30px 30px 30px;
}

.flower-wedding-packages {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.img-details {
  color: #666666;
  margin-top: 10px;
}
.wedding-package-heading {
  color: #0f0f0f;
  margin-top: 5px;
  font-size: 20px;
}
.details-btn {
  margin-top: 15px;
}
.flower-wedding-heading {
  text-align: center;
  margin-top: 100px;
}

.flower-wedding-headingh1 {
  font-size: 30px;
}
.featureImg {
  width: 300px;
  height: 370px;
  border-radius: 300px 300px 0px 0px;
}
.feature-items1 {
  background-color: rgba(167, 33, 98, 0.15);
}
.feature-items2 {
  background-color: rgba(44, 167, 33, 0.15);
}
.feature-items3 {
  background-color: rgba(211, 19, 112, 0.15);
}

.featureImg img {
  width: 200px;
  margin-top: 95px;
  margin-left: 50px;
}
.feature-flower-item-section {
  display: flex;
  gap: 100px;
  justify-content: center;
}

.feature-flower-item-title {
  color: #080808;
  text-align: center;
  text-decoration: underline;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
.feature-flower-item-title:hover {
  text-decoration: none;
}
.feature-flower-heading {
  text-align: center;
  align-items: center;
  padding-top: 100px;
}

.feature-des {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.feature-heading-title {
  padding-bottom: 20px;
  font-size: 40px;
  color: #3d3c3c;
}
.customerCare-section > img {
  width: 88px;
  height: 88px;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 70px;
}

.customer-care-title {
  color: rgba(39, 39, 39, 0.8);
  font-size: 20px;
  line-height: 35px;
}

.customer-care-section {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #b3afaf;
  width: 1100px;
  margin: auto;
  margin-top: 140px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  height: 250px;
}

.off-style {
  color: #ec5979;
}
.saleOffer-section {
  display: flex;
  width: 100%;
  height: 350px;
  margin-top: 140px;
  background-color: #fce3f1;
  justify-content: center;
  align-items: center;
}

.saleofferImg {
  width: 200px;
}

.saleOffer-left-section {
  text-align: center;
}

.instagram-heading {
  text-align: center;
}
.instagram-section {
  margin-top: 100px;
}
.instagram-product {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.product-image img {
  width: 250px;
  height: 300px;
}
.subscribe-option-section {
  margin-top: 100px;
}

.subscribe-option {
  background-image: url(./flower-asset/rectangle9.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  height: 400px;
  width: 1060px;
}
.subscribe-option-text {
  text-align: center;
  margin-top: 80px;
  margin-left: 150px;
  position: absolute;
}
.subscribe-input {
  width: 600px;
  border-radius: 50px;
  border: none;
  padding: 20px;
  background: #fff;
}

footer {
  background: #080808;
  width: 100%;
}

.footer-text {
  text-align: center;
  padding: 150px;
}

.footer-paragraph {
  color: rgba(163, 163, 163, 0.9);
  font-size: 16px;
  font-weight: 400;
  padding: 20px;
}
.footer-copyright {
  color: rgba(95, 95, 95, 0.9);
  font-size: 14px;
  font-weight: 400;
  padding: 20px;
}
