/*whole website css*/
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/*header section start from here*/

.header-section {
  width: 100%;
  height: 750px;
  background: rgb(255, 221, 241);
  display: flex;
}
.header-left-title {
  text-align: left;
  align-items: left;
  margin: 180px 0 0 180px;
}
.header-title {
  color: #272727;
  font-size: 60px;
  font-weight: 800;
}

.description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 35px 0 35px 0;
}

.btn {
  background: #ec5979;
  padding: 20px 43px;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
}

.featureImg {
  margin: 50px;
}

.feature-itemImg1 {
  background-image: url("./flower-asset/pngwing6.png");
  background-repeat: no-repeat;
  background-size: 28vh;
  background-position: center bottom;
  background-color: rgba(167, 33, 98, 0.15);
  width: 300px;
  height: 380px;
  border-radius: 300px 300px 0px 0px;
}
.feature-itemImg2 {
  background-image: url("./flower-asset/pngwing5.png");
  background-repeat: no-repeat;
  background-size: 32vh;
  background-color: rgba(33, 167, 73, 0.15);
  width: 300px;
  height: 380px;
  border-radius: 300px 300px 0px 0px;
  background-position: center;
}
.feature-itemImg3 {
  background-image: url("./flower-asset/pngwing7.png");
  background-repeat: no-repeat;
  background-size: 28vh;
  background-color: rgba(197, 119, 16, 0.15);
  width: 300px;
  height: 380px;
  border-radius: 300px 300px 0px 0px;
  background-position: center bottom;
}

.feature-flower-item-section {
  display: flex;
  justify-content: center;
}

.feature-flower-item-title {
  text-align: center;
  text-decoration: underline;
  margin-top: 20px;
}

.feature-flower-heading {
  text-align: center;
  align-items: center;
  padding-top: 100px;
}

.feature-des {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.feature-heading-title {
  padding-bottom: 20px;
}
.customerCare-section > img {
  width: 88px;
  height: 88px;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 70px;
}

.customer-care-title {
  color: rgba(39, 39, 39, 0.8);
  font-size: 20px;
  line-height: 35px;
}

.customer-care-section {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #b3afaf;
  width: 1100px;
  margin: auto;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  height: 250px;
}

.off-style {
  color: #ec5979;
}
.saleOffer-section {
  display: flex;
  width: 100%;
  height: 350px;
  background-color: #fce3f1;
  justify-content: center;
  align-items: center;
}

.saleofferImg {
  width: 200px;
}

.saleOffer-left-section {
  text-align: center;
}

.instagram-heading {
  text-align: center;
}
.instagram-section {
  margin-top: 100px;
}
.instagram-product {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.product-image img {
  width: 250px;
  height: 300px;
}
